export const DB_NAME = 'dairy';
// export const DB_HOST = 'mongodb://localhost:27017';
export const DB_HOST = '';
export const PORT = 3000;
export const SECRET = 'secret';
export const JwtSecret = 'mysecret';